.gap-20 {
  gap: 20px;
}

.header-button {
  color: #ffffff;
  text-decoration: none;
}

.detail {
  padding: 60px 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.two-box {
  position: relative;
  height: 500px;
  aspect-ratio: 7/10;
  background-color: #fff;
}

.four-box {
  position: relative;
  max-width: calc(66% - 6.666px);
  height: 500px;
  color: #fff;
  padding: 1px;
}

.image {
  height: 100%;
  background: #fff url(../media/detail-dune.webp) center / cover no-repeat;
}

.text {
  height: 100%;
  width: 100%;
}

.text h3 {
  font-size: 40px;
}

.text > p {
  font-size: 15px;
}

.tickets {
  margin-top: 40px;
}

.tickets p {
  display: inline-block;
  padding: 2px 4px;
  background-color: var(--primary-color);
  cursor: pointer;
  margin-right: 5px;
}

/*reccomended movies*/
.rec-movies {
  overflow: scroll;
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  padding: 50px 0;
}

.movie-box {
  height: 236px;
}